
<h2>Amount of drink's ordered since <%= @orders.first.created_at.strftime("%b-%e-%y")%> :  </h2>
<div>
<%= line_chart @orders.group_by_day(:created_at).count, 
xtitle: "Days", 
ytitle: "# of Drink Orders", 
colors: ["pink", "#999"] %>
</div>

<h4 style="padding-left: 20px"><a href="/queue" class="btn btn-danger btn-lg btn-block">See what drinks are waiting for you!</a></h4>

