<ul> <% @bars.each do |bar| %>
<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
                            <!-- News Article Goes Here -->
              <h2 class="section-heading"><li><%= bar.name %></li></h2>
              <h3 class="section-subheading"><a href="/bars/<%=bar.id%>" data-toggle="modal">Click Here for Drinks</a></h3>
              <img class="img-responsive img-centered" src="<%= bar.img_src%>" alt="" data-no-retina>
      
                            
          </div>
      </div>
  </div>
</div>
<% end %>

    <div id="map" style="height:400px"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEAPI_KEY'] %>&callback=initMap"
    async defer></script>


