


    <!-- Introduction Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <h2 class="section-heading">A unique experience for food lovers.</h2>
                    <span class="section-divider">M</span>
                    <h3 class="section-subheading text-muted">Homemade food, local ingredients <span>... carefully prepared.</span></h3>
                    <a href="#unique" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Introduction Section -->
 
    <!-- Unique Chain Section -->
    <section id="unique">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="section-icon">x</span>
                    <h2 class="section-heading">Foodster is a unique chain of restaurants &amp; bars for food lovers.</h2>
                    <h3 class="section-subheading">We specialise in the special, offering a welcoming dining experience for couples, families and foodies.</h3>
                    <a href="#restaurants" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Unique Chain Section -->

    <!-- Choose Restaurant Section -->
    <section id="restaurants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading wow fadeInDown">Select your Foodster</h3>
                </div>
            </div><!-- /.row-->
            <% @bars.each do |bar| %>
            <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInUp">
            <a href ="#restaurantModal1"></a>
            <ul>
              <li><a href="/bars/<%=bar.id%>" data-toggle="modal"><%= bar.name %></a></li>
              </div></div></ul>
                        <%end%>
            
   
            <div class="row">
                <div class="col-lg-12">      
                    <a href="#menus" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Restaurants Section -->



    <!-- Book Section -->
    <section id="book">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading wow fadeInDown">Drinks? What kind?</h2>
                    <h3 class="section-subheading wow fadeInDown">From Budlight, to locally brewed, we offer many different options.  However, it depends where you are..
                      Go to our stadiums page to look at the different venues and drinks that are offered at each one.</h3>
                </div>
            </div><!-- /.row -->
            <div class="row">
                
                
                <div class="col-sm-12">
                    <a href="#gallery" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Book Section -->


    <div class="purchase">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <h2 class="section-heading">Wait, no more!</h2>
                    <a href="/bars/stadiums" class="btn btn-primary btn-lg" target="_parent">Order a drink!</a>
                </div>
            </div>
        </div>  
    </div>

