<div ng-app="app">
<div ng-controller="orderCtrl" ng-init="setup()" id="orderCtrl">
  
<center> <img src= <%= current_bartender.bar.img_src %> style="max-width:100%; height:300px"></center>

 <h2>Drinks that need to be made:  </h2>
<div ng-repeat="queueddrink in queueddrinks">
<table class="table table-striped table-hover">
<thead>
<tr>
  <th>Drink Belongs to: </th>
  <th>Drink: </th>
  <th>Amount: </th>
  <th>Image </th>
  <th>Change status </th>
  </tr>
  </thead>
  <tr class="success">
<td>{{queueddrink.user}}</td>
<td> {{queueddrink.name}}</td>
<td>{{queueddrink.quantity}}</td>
<td><img src={{queueddrink.img}} style="max-width:50%; height:100px"></td>
<td><a href= "/queue/{{queueddrink.id}}/edit" data-method="get" class="btn btn-success">Make Drink!</a></td>
</tr>
</table>
</div>
</div>
</div>


    