<% @carteddrinks.each do |carteddrink| %>
  <%= carteddrink.drink.name %>
  <img src= <%= carteddrink.drink.img_src %> style="max-width:100%; height:300px">
 <a href= "/queue/<%=carteddrink.id%>/edit" data-method= "get">Make Drink!</a>
<% end %>